body {
    font-family: Arial, sans-serif;  
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
   flex-direction: column; 
   }

   #navbar  a {
     color: #61dafb;
     text-decoration: none;
    font-weight: bold;
    position: relative;
    
  }

  .btn { 
     display: inline-block;
     padding: 10px 20px;
     background-color: #333;
     color: #fff;
     text-decoration: none;
     border-radius: 5px;
     transition: background-color 0.3s, transform 0.3s;
     }
     
     .btn:hover {
       transform: translateY(-3px) rotate(-1deg);
       transition: background-color 0.3s, transform 0.3s;
   }

.container {
     text-align: center;
     padding: 20px 30px;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
     margin-bottom: 20px;
}  

h1 {
     color: #4CAF50;
     margin-bottom: 20px;
}

input {
     width: 80%;
     padding: 10px;
     margin: 10px 0 ;
     border: 1px solid #ccc;   
     border-radius: 5px;
     font-size: 16px;
}

button {
      padding: 10px 20px;
      border: none;
      background: #4CAF50;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
}

button:hover {
  background: #333;
}


#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.definition {
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    padding: 30px 40px;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: center;
    font-weight: bold;
    background-color: #4CAF50;
    border-radius: 8px;
}